:root {
    --main-color: #111111;
    --sec-color: #E33F40;
    --text-color: #525252;
    --hover-color: #FCE9E9;
    --border-color: #EEEDEE;
    --contact-color: #323232;
    --white-color: #FEFEFE;

  }
   
  @font-face {
    font-family: "sourceLight";
    src: url("../fonts/SourceSansPro-Light.ttf") format("ttf"),
      url("../fonts/SourceSansPro-Light.woff") format("woff"),
      url("../fonts/SourceSansPro-Light.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Light.eot") format("eot");
  }
  
  @font-face {
    font-family: "source";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("ttf"),
      url("../fonts/SourceSansPro-Regular.woff") format("woff"),
      url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Regular.eot") format("eot");
  }
  
  /* @font-face {
    font-family: "alexMd";
    src: url("../fonts/Alexandria-Medium.ttf") format("ttf"),
      url("../fonts/Alexandria-Medium.woff") format("woff"),
      url("../fonts/Alexandria-Medium.woff2") format("woff2"),
      url("../fonts/Alexandria-Medium.eot") format("eot");
  } */
  
  @font-face {
    font-family: "sourceBold";
    src: url("../fonts/SourceSansPro-Semibold.ttf") format("ttf"),
      url("../fonts/SourceSansPro-Semibold.woff") format("woff"),
      url("../fonts/SourceSansPro-Semibold.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Semibold.eot") format("eot");
  }
  
  @font-face {
    font-family: "sourceBlack";
    src: url("../fonts/SourceSansPro-Black.ttf") format("ttf"),
      url("../fonts/SourceSansPro-Black.woff") format("woff"),
      url("../fonts/SourceSansPro-Black.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Black.eot") format("eot");
  }
  @font-face {
    font-family: "sourceSemiBold";
    src: url("../fonts/SourceSansPro-Semibold.ttf") format("ttf"),
      url("../fonts/SourceSansPro-Semibold.woff") format("woff"),
      url("../fonts/SourceSansPro-Semibold.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Semibold.eot") format("eot");
  }
  a,
  p,
  label,
  span,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "source";
  }
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  
    outline: none;
  }
 
  body::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
    height: 0;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #fff;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .clear {
    clear: both;
  }
  
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a:focus,
  input:focus,
  textarea:focus,
  button:focus {
    outline: 0;
  }
  .img-contain {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

  /*  */
  
  .fixall {
    margin: 0;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    text-decoration: none;
  }
  .fixall:focus,
  .fixall:hover {
    outline: 0;
    text-decoration: none;
  }
 
/* Side menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
  }
  
  .sidenav {
  right: -580px;
  overflow: auto;
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: var(--white-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 55px;
  -webkit-box-shadow: 6px 1px 14px rgba(0, 0, 0, 0.175);
  box-shadow: 6px 13px 14px rgba(0, 0, 0, 0.175);
  }
  .sidenav .menu-head li a{line-height: 40px;    text-align: right;}
  
  .sidenav.open {
  right: 0;
  }
  
  .side-menu i {
  font-size: 34px;
  color: var(--main-color);
  }
  .side-menu .logo{text-align: center;}
  .side-menu .logo img{
  margin: auto;
  margin-bottom: 25px;
  width: 205px;
  
  }
  .sidenav input {
  width: 190px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 25px;
  }
  
  .sidenav button {
  background-color: var(--side-color);
  border: 0px;
  }
  
  .sidenav .list-unstyled>li>a {
  text-align: right;
  line-height: 40px;
  }
  .sidenav a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  margin: 0px 30px;
  color: var(--text-color);
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  }
  .sidenav a.social-link{margin: 0px 3px;}
  .top-social.side {
  padding: 10px 6px;
  display: flex;
  }
  .sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  left: 0px;
  }
  
  .side-menu span {
  font-size: 35px;
  cursor: pointer;
  color: var(--main-color);
  width: 100%;
  display: block;
  
  }
  html[dir="ltr"] .sidenav.open {
  
    left: 0;
  }
  html[dir="ltr"] .sidenav {
    left: -580px;
    right: unset}
    html[dir="ltr"]  .sidenav .closebtn {
      left: unset;
      right: 0;
  }
  html[dir="ltr"] .side-menu .sub_list li {
    margin-left: 25px;
  }
  @media (min-width: 992px) {
  /* .links-1 {
        display: block
    } */
  .side-menu {
    display: none;
  }
  }
  .sidenav a.login-res{color: var(--main-color);}
/*------------header------------*/

.top-head{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
} 
.top-head-flex{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
.logo{}
.logo img{}
.menu-head{}
.menu-head li{}
.menu-head li a{
  font-size: 16px;
  margin: 0px 16px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  transition: 0.3s ease-in-out;
  
}
.menu-head li a:hover{
  color: var(--main-color);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  transition: 0.3s ease-in-out;
}
.menu-head li a.active{
  color: var(--main-color);
  font-weight: 600;
  position: relative;
}
.menu-head li a.active::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    left: 13px;
    bottom: 20px;
    background-color: rgb(237, 28, 36);
    transform: translateX(-50%);
}
a.contact-head{
line-height: 40px;
    width: 140px;
    height: 40px;
   border:1px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: var(--sec-color);
}
a.contact-head:hover{
  background-color: var(--white-color);
    border-color: var(--sec-color);
    color: var(--sec-color);
    border-color: var(--sec-color);
}
a.contact-head i{margin-inline-end: 10px;}
.lang-head i{
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffff;
    color: var(--sec-color);
    font-size: 20px;
    border: 1px solid var(--sec-color);
    border-radius: 5px;
    margin-inline-start: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.lang-head i:hover{
  background-color: var(--sec-color);
  color: var(--white-color);
}
.button-head{display: flex;align-items: center;}


/*----------------------header---owl-carousel---------------------------*/

.side-slider .owl-dots {
position: absolute;
top:80%;
right: 6%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.side-slider .owl-dots .owl-dot {
display: inline-block;
background-color: rgb(191 187 187);
width: 32px;
height: 2px;
margin: 0px 3px
}

.slider-item {
position: relative;
}

.slider-title {
position: absolute;
top: 50%;
width: 100%;
left: 0px;
right: 0px;
transform: translateY(-50%);
}

.side-slider .owl-dots .owl-dot.active {
background-color: var(--sec-color);
}

.photo-head {
position: relative;
}
.photo-head img{height: 509px;}
.photo-head:after {
    background: #000000d1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slider-ti {
color: #fff;
width: 75%;
}

.slider-ti h2 {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  position: relative;
  text-transform: uppercase;
      width: 280px;
}
.slider-ti h2::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    right: 0%;
    bottom: 20px;
    background-color: var(--sec-color);
    transform: translateX(50%);
}
.slider-ti h4 {
  font-size:45px;
  color: #ffffff;
  margin-top: 25px;
  font-weight: 800;
   text-transform: uppercase;
}
.slider-ti p {
  font-size:18px;
  color: #ffffff;
  margin-top: 15px;
   text-transform: uppercase;
 
}
a.button-slider{
  line-height: 45px;
  width: 156px;
  height: 48px;
  margin-top: 25px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  border: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  background-color: var(--sec-color);
}
.button-slider i{margin-inline-end: 10px;}
a.button-slider:hover{
  background-color: var(--white-color);
  border-color: var(--sec-color);
  color: var(--sec-color);
}


/* about-home */
.about-home-section{
  padding-top: 80px;
    padding-bottom: 80px;
}
.about-home-flex{display: flex;}
.about-home-title{
  width: 50%;
  padding-inline-start: 35px;
}
.about-home-title h3{
  font-size: 35px;
    text-transform: capitalize;
    position: relative;
    font-family: 'sourceBold';
}
.about-home-title h3::after{
    content: "";
    position: absolute;
    width: 62px;
    height: 8px;
    left: 32px;
    bottom: 45px;
    background-color: var(--sec-color);
    transform: translateX(-50%);
}
.about-home-title span{
  font-size: 24px;
    color: var(--sec-color);
    padding-top: 10px;
    display: block;
    padding-bottom: 20px;
    font-family: "sourceSemiBold";
    text-transform: capitalize;
}
.about-home-title p{
  font-size: 18px;
  color: var(--main-color);
      text-transform: capitalize;
    line-height: 1.6;
}
.about-home-title a{}
.about-home-title a:hover{}
.about-home-photo{width: 50%;position: relative;    padding-top: 25px;}
.about-home-photo img{
     width: 549px;
    height: 366px;
  border-radius: 15px;
  /* overflow: hidden; */
}
/* .about-home-photo img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */
.about-home-photo::after {
    border: 2px solid var(--sec-color);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    left: 285px;
    bottom: 0;
    width: 549px;
    height: 366px;
    z-index: 9;
    border-radius: 15px;
}

a.button-about-home{
      line-height: 45px;
    width: 156px;
    height: 48px;
    margin-top: 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex
;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: var(--sec-color);
}
a.button-about-home i {
    margin-inline-end: 10px;
}
a.button-about-home:hover {
    background-color: var(--white-color);
    border-color: var(--sec-color);
    color: var(--sec-color);
}

/* start Services-Home */
.services-home-section{
  padding-top:35px;
    padding-bottom: 80px;
}
.services-home-title{
  text-align: center;
    position: relative;
}
.services-home-title::after{
content: "";
    position: absolute;
    width: 150px;
    height: 8px;
    left: 50%;
    bottom: -30px;
    background-color: var(--sec-color);
    transform: translateX(-50%);

}
.services-home-title h3{
  font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;

}
.services-home-title span{
  font-size: 18px;
    width: 60%;
    display: block;
    margin: auto;
        text-transform: capitalize;
}
.services-blogs-home{
  padding-top: 70px;
}
.service-flex{
  display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [ 3 ];
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.service-item{
  display: flex;
    align-items: start;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    width: 374px;
    border-bottom: 2px solid var(--sec-color);
}
.service-photo{
  border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    height: 210px;
    width: 374px;
}
.service-photo img{}
.service-title{
      padding: 20px;
        background-color: var(--white-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 0px 15px 15px;

}
.service-title:hover{
  background-color: var(--sec-color);
      overflow: hidden;
    border-radius: 0px 0px 15px 15px;
}
.service-title>i{
  width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:#FCE9E9;
    color: var(--sec-color);
    font-size: 20px;
   
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-title h4{
font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-family: 'sourceBold';
    margin-top: 20px;
}
.service-title p{
  font-size: 16px ;
  color: var(--text-color);
  line-height: 1.7;

}
.service-title a{
  color: var(--sec-color);
  font-size: 14px;
  font-family: 'sourceSemiBold';
      -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    display: flex
;
    align-items: center;
}
.service-title:hover p{
  color: var(--white-color);
}
.service-title:hover h4{
  color: var(--white-color);
}
.service-title:hover a i{
  color: var(--white-color);
}
.service-title:hover.service-title>a{
  color: var(--white-color);
}
.service-title a i{
  margin-inline-start: 10px;
    font-size: 15px;
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-title a:hover i{
  margin-inline-start: 15px;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.service-item.one{
  background-color: var(--sec-color);
    color: var(--white-color);
    align-items: center;
    justify-content: center;
}
.service-contact-one{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 45px;

}
.service-contact-one i{
  font-size: 50px;
}
.service-contact-one h4{
      font-size: 20px;
    font-family: 'sourceBold';
    margin-top: 25px;
    margin-bottom: 20px;
}
.service-contact-one p{
      color: #F5F3F3;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.7;
}
.service-contact-one a{
  line-height: 45px;
    width: 124px;
    height: 40px;
    margin-top: 25px;
    border-radius: 5px;
    color: var(--sec-color);
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: var(--white-color);
}
.service-contact-one a:hover{
  background-color: var(--sec-color);
  border-color: var(--white-color);
  color: var(--white-color);
}
/* End Services-Home */

/* Start Number-section */
.numbers-section {
  background-image: url(../images/frame.jpg);
  padding: 80px 0px;
}
.numbers-flex {
    display: -ms-grid;
    display: grid
;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.numbers-flex .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.numbers-flex .item .number {
color: var(--sec-color);
    font-weight: 700;
    font-size: 35px;
    line-height: 0.7;
    margin-bottom: 20px;
    font-family: 'sourceBold';
        display: flex

}

.numbers-flex .item .item-name {
font-size: 16px;
    color: #EEECEC;
    text-transform: capitalize;
}
.numb-flex{ 
display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    align-items: center;
}
.numb-text{}
.numb-text h3{ 
    font-size: 56px;
    font-weight: 700;
    /* margin-bottom: 25px; */
    text-transform: uppercase;
    color: var(--sec-color);
}
.numb-text h4{
font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--white-color);
}
.numb-title p{
  font-size: 16px;
    color: #EEECEC;
    line-height: 1.7;
        margin-top: 20px;
    margin-bottom: 0;
}
/* End Number-section */

/* Start contact us home */

.conatct-home-section{
  padding-top:70px;
    padding-bottom: 80px;
}
.conatct-home-title{
  text-align: center;
    position: relative;
    padding-bottom:80px
}
.conatct-home-title::after{
content: "";
    position: absolute;
    width: 150px;
    height: 8px;
    left: 50%;
    bottom: 45px;
    background-color: var(--sec-color);
    transform: translateX(-50%);

}
.conatct-home-title h3{
  font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;

}
.conatct-home-title span{
  font-size: 18px;
    width: 60%;
    display: block;
    margin: auto;
        text-transform: capitalize;
}
.contact-form{    padding: 32px;
    border-radius: 10px;margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
}
.contact-form h4{
  font-size: 24px;
  font-family: 'sourceBold';
  margin-bottom: 20px;
      text-transform: capitalize;
}
.cont.coun .form-control{position: relative;padding: 0px 101px;}
.county-code{    position: relative;
    bottom: 37px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    transform: translateX(-50%);
      width: 80px;
    border-right: 1px solid #EEEDEE;
    padding-inline-end: 10px;
    }
      .county-code img{    width: 30px;
    border-radius: 3px;
    margin-inline-end: 7px;}
    .county-text{font-weight: 600;
    font-size: 14px;}
.cont .form-control {
  
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 1px solid #e5e1e5;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0px 15px;
  width: 100%;
  height: 50px;
  box-shadow: none;
  border-radius: 10px;
 
}
.cont label,.one label {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
}
.cont .form-control:focus{
  border-color: var(--sec-color);
}

 .one textarea.form-control{
    width: 100%;
    height: 127px;
    outline: 0;
    padding: 10px 12px;
    border:0;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid #e5e1e5;
    box-shadow: none;
  background-color: #ffffff;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}

 .one textarea.form-control:focus{
  border-color: var(--sec-color);
}
  
  textarea::placeholder {
   color: #c5c5c5;
    font-size: 13px;
      font-family: "cource";
      text-transform:uppercase;
  }
    .form-control::-webkit-input-placeholder {
     color: #c5c5c5;
      font-family: "cource";
      text-transform: capitalize;
  }
  .form-control:-ms-input-placeholder {
     color: #c5c5c5;
      font-family: "cource";
      text-transform: capitalize;
  }
  .form-control::-ms-input-placeholder {
      color: #c5c5c5;
       font-family: "cource";
       text-transform: capitalize;
  }
  .form-control::placeholder {
    color: #c5c5c5;
      font-size: 13px;
      font-family: "cource";
      text-transform: capitalize;   
  }
  button.submit-form {
    line-height: 45px;
    width: 100%;
    height: 48px;
    margin-top: 25px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sourceBold';
    text-transform: capitalize;
    background-color: var(--sec-color);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}
    button.submit-form:hover {
      background-color: var(--white-color);
      color: var(--sec-color);
      border-color: var(--sec-color);
    }
    .f-ti i {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FCE9E9;
    color: var(--sec-color);
    font-size: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 .f-ti li{    display: flex;
   margin-top: 10px;;}
    .con-flex{margin-bottom: 15px;margin-inline-start: 15px;}
    .f-ti{    margin-top: 30px;}
    .con-flex p{    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.con-flex span{    font-size: 16px;color: var(--text-color);}
.social-flex{
    display: flex;
    gap: 13px;
 
}
.social-flex i{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:#FCE9E9;
    color: var(--main-color);
    font-size: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}   
.social-flex i:hover{background-color: var(--sec-color);
  color: var(--white-color);} 
/* End contact us home */














/* Start Footer */
footer{
  background-color: #323232;
  color: #EEECEC;
  padding-top: 55px;
    padding-bottom: 50px;
}

.footer-logo img{
  width: 133px;
  height: 52px;
}

p.footer-text{
  font-size: 16px;
  color: #f5f5f5b7;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}
.social-footer {
  display: flex;
  gap: 10px;
}
.social-footer i{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social-footer i:hover{
  background-color: var(--white-color);
  color: var(--sec-color);
}
.foot-links h4{
  font-size: 18px;
    font-family: 'sourceBold';
    margin-bottom: 30px;

}
.foot-links ul li a{
  color: var(--white-color);
    font-size: 14px;
    line-height: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
}
.foot-links ul li a:hover{
  color: var(--sec-color);
}
.foot-social{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.foot-social a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  color: var(--white-color);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #323131;
  position: relative;
  margin: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.foot-social a:hover{
  background-color: #fff;
  color: var(--sec-color);
}
.foot-ti li{
      display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.foot-ti i{
      color: var(--sec-color);
    font-size: 20px;
    margin-inline-end: 10px;

}
.foot-ti span{
  font-size: 16px;
}
.foot-ti .phone-foot{
  display: flex;
    flex-direction: column;
        margin-top: -10px;
}
.foot-ti .phone-fo{
display: flex;
    align-items: start;
    margin-top: 25px;
    margin-bottom: 10px;}

.copy_allright{
  background-color: #323232;
  color: #EEECEC;
}

.copy-powered img{
  filter: brightness(0.5);
    margin-inline-start: 5px;
}
.copy_allright-flex{
  padding-top: 15px;
    padding-bottom: 15px;
  border-top:1px solid #ffffff14;
  display: flex;align-items: center;justify-content: space-between;}
.copy-powered p{
  font-size: 13px;
}
.copy-text p{font-size: 13px;}
.copy-text span{color: var(--sec-color);font-weight: 800;}


/* End Footer */
@media (max-width:1024px){}
@media (max-width:991px){}
@media (max-width:765px){}
@media (max-width:425px){}
@media (max-width:375px){}
@media (max-width:1024px) {
  .menu-head li a {
    font-size: 15px;
    margin: 0px 10px;}
    .login-btn a {
      min-width: 150px;
      font-size: 13px;
  }
  .slider-section img {
    height: 100vh;
}
.slider-title h1 {
  font-size: 45px;
}
.slider-title h2 {
  font-size: 19px;
}
.slider-title p {
  font-size: 15px;

}
.order-slider {
  width: 210px;
  height: 55px;
  font-size: 16px;

}
.program-photo img {
  width: 260px;
  height: 260px;
}
.program-item-title h4 {
  font-size: 19px;

}
.program-item-title p {
  font-size: 15px;}
  .faq-details h2 {
    font-size: 29px;

}
.faq-details p {

  width: 80%;

}
.faq-section {height: auto;}
.about-title h2 {
  font-size: 29px;
}
.about-title h3 {
  font-size: 21px;
}
.about-title p {
  font-size: 16px;

}
.order-sub {
  width: 210px;
  height: 55px;
  font-size: 16px;
}
.about-hook {
  display: none;
}
.about-section-head {
  height: auto;
  padding-bottom: 80px;
}
.about-photo {
  width: 48%;
  position: unset;
  text-align: center;
}
.custom {
    text-align: center;
}
.footer-logo p {
  margin: auto;
  width: 75%;
  font-size: 14px;

}
.foot-links {
  padding-top: 20px;
}
.links-1 ul {
  margin-top: 10px;
}
.foot-social {
  justify-content: center;
}
.program-item-title span {
  font-size: 15px;
  padding-top: 0px;
}
.program-item-title h4 {
  margin: 12px 0px;
}
}
@media (max-width:991px) {
  .menu-head {
    display: none;
}
.login-btn a {
  display: none;
}
.slider-section img {
  height: 70vh;
}
.slider-title h1 {
  font-size: 36px;
}
.slider-title h2 {
  font-size: 14px;
}
.slider-title p {
  font-size: 12px;
}
.order-slider {
  width: 170px;
  height: 47px;
  font-size: 14px;
}
.social-slider {
  padding-top: 12px;
}
.programs-section {
  padding-top: 40px;
  padding-bottom: 45px;
}
.program-title h3 {
   font-size: 25px;
}
.program-title p {
  font-size: 16px;
 }
 .program-items {
  gap: 25px;
  flex-direction: column;
}
.program-item {
  width: 80%;
  margin: auto;
}
.faq-flex {
  flex-direction: column;
}
.faq-details {
  width: 100%;
  display: flex;
  align-items: center;

}
.faq-icon {
  min-width: 70px;
  min-height: 70px;
  width: 70px;
        height: 70px;

}
.faq-icon img {
  width: 35px;
  height: 35px;
}
.faq-section {
  padding: 45px 0 45px;
}
.faq-details h2 {
  font-size: 20px;
  margin-inline-start: 10px;
}
.faq-collapse {
  width: 90%;
  margin: auto;
}
.faq-details {
  width: 90%;
  margin: auto;
}
.about-title h2 {
  font-size: 22px;
}
.about-title h3 {
  font-size: 18px;
}
.about-title p {
  font-size: 14px;
}
.about-flex {
  padding-top: 50px;
}
.about-section-head {
  padding-bottom: 55px;
}
.footer-logo img {
  margin-bottom: 25px;
}
}
@media (max-width:425px) {
  .item-slider {
    width: 86%;
}
.slider-section img {
  height: 50vh;
}
.social-slider {
display: none;
}
.slider-title h1 {
  font-size: 25px;
  padding-bottom:0px
}
.slider-title h2 {
  font-size: 13px;
  padding-bottom: 0;
}
.slider-title p {

  padding-bottom: 5px;
}
.order-slider {
  width: 157px;
  height: 43px;
  font-size: 13px;
}
.program-title h3 {
  font-size: 21px;
}
.programs-section {
  padding-top: 25px;
}
.program-title p {
  font-size: 14px;
  width: 85%;
  margin: auto;
}
.program-flex {
  flex-direction: column-reverse;
}
.slider-section {
  overflow: hidden;
}
.program-photo img {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}
.program-item-title p {
  font-size: 15px;
  margin-bottom: 15px;
}
.about-flex {
  flex-direction: column-reverse;
  padding-top: 35px;
  gap: 10px;
}
.about-title {
  width: 88%;
  margin: auto;
  text-align: center;
}
.about-photo img {
  width: 140px;
  height: 125px;

}
.about-photo {
  width: 90%;
  margin: auto;
}
.order-sub {
  width: 100%;
}
.about-section-head {
  padding-bottom: 35px;
}
footer {
  padding-top: 50px;
  border-radius: 0;
}
.footer-logo p {
  width: 100%;
  font-size: 13px;
}
.copy-flex {
  flex-direction: column;
}
.copy-title p {
  font-size: 12px;

}
.copy-title p {
  margin-bottom: 20px;
}
}
@media (max-width:375px) {
  .faq-div .faq-title .faq-text {
    font-size: 14px;
}
.faq-details {
  flex-direction: column;
}
.faq-details h2 {
  font-size: 18px;
  margin-inline-start: 0;
}
.faq-details p {
  width: 88%;
  font-size: 15px;
  text-align: center;
  width: 70%;
  margin-top: 0px;
  line-height: 27px;
}
.faq-icon {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
}
.faq-icon img {
  width: 30px;
  height: 30px;
}
.faq-section {
  padding: 35px 0 35px;
}
.faq-flex-title ul li {
  font-size: 13px;
}
.faq-flex-title p {
  font-size: 13px;
}
.program-photo img {
  border-radius: 25px;
  margin-top: 0px;

}
}
